@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.cdnfonts.com/css/inter");
@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components { 
    .flexrow{ 
        @apply flex flex-row
    };
    .flexcol{ 
        @apply flex flex-col
    }
}
@layer base { 
    body { 
        background-color: #CCCCCC;
    };
  
}
span{ 
    font-weight: 400;
    color: #000;
}